.forecast-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  background-color: #f2f2f2;
  border-radius: 5px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  margin-top: 10px;
}

.forecast-details__date {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

.forecast-details__temperature {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  color: #333;
  margin-bottom: 10px;
}

.forecast-details__temperature div {
  margin: 0 5px;
}

.forecast-details__wind,
.forecast-details__humidity {
  font-size: 14px;
  color: #333;
  margin-bottom: 10px;
}
